.about-section {
  background-color: #f4f4f9;
  color: #333;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #ff416c;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-text {
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
}
