.header {
  background: linear-gradient(135deg, #4b6cb7, #182848);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.intro {
  max-width: 600px;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.intro-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.resume-btn {
  padding: 10px 20px;
  background: #ff416c;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: "background 0.3s ease";
}

.resume-btn:hover {
  background: #ff4b2b;
}

.profile-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
